/.idea
/.gradle
/gradle
/gradlew
/gradlew.bat
/TreeRecovery-2.0.jar

1.14.X/run
1.15.X/run
1.16.X/run
1.17.X/run
1.18.X/run
1.19.X/run
1.20.X/run

1.14.X/.gradle
1.15.X/.gradle
1.16.X/.gradle
1.17.X/.gradle
1.18.X/.gradle
1.19.X/.gradle
1.20.X/.gradle

1.14.X/build
1.15.X/build
1.16.X/build
1.17.X/build
1.18.X/build
1.19.X/build
1.20.X/build

1.14.X/.idea
1.15.X/.idea
1.16.X/.idea
1.17.X/.idea
1.18.X/.idea
1.19.X/.idea
1.20.X/.idea


